@model MotoGP.Models.Ticket
@{
    var Title = ViewData["Title"];
    var Path = ViewData["BannerPath"];
    var CurrentDate = ViewData["CurrentDate"];
    var formattedDate = Model.OrderDate.ToString("dd/MM/yyyy");
    var raceFormattedDate = Model.Race.Date.ToString("dd/MM/yyyy");
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div>
    <a asp-controller="Home" asp-action="Index"><img src="@(Path)" alt="Alt text" /></a>
    <h1>@(Title)</h1>
</div>
<div>
    <p>Thank you <strong>@(Html.DisplayFor(model => model.Name))</strong> for ordering tickets for the race in <strong>@(Html.DisplayFor(model => model.Race.Name))</strong> on <strong>@(raceFormattedDate)</strong>. Your booking is registered on <strong>@(formattedDate)</strong>. We will send the <strong>@(Html.DisplayFor(model => model.Number))</strong> tickets as soon as possible.</p>
</div>
<div>
    <a asp-controller="Home" asp-action="Menu">Back</a>
</div>